.Rproj.user
.Rhistory
/bbs_raw_data
myResults

.md
*.html


.DS_Store
bbsData/codes/README.txt
bbsData/codes/RegionCodes.txt
otherScripts/.DS_Store

/vignettes/runthrough_cache/
/vignettes/runthrough_files/
/vignettes/runthrough.RData/
vignettes/runthrough.aux
vignettes/runthrough.knit.md
vignettes/runthrough.log
vignettes/runthrough.out
vignettes/runthrough.pdf
vignettes/runthrough.tex
vignettes/runthrough.toc
vignettes/runthrough.utf8.md
bbsRDM_0.1.0.pdf
vignettes/runthrough.pdf
